<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{fragmentos :: head('Pesquisas :: Todas as Pesquisas')}"></head>

<body>
    <header th:replace="~{fragmentos :: navbar}"></header>

    <div class="container mt-5">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>sexo</th>
                    <th>estado civil</th>
                    <th>generos de Filmes</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pesquisa : ${pesquisas}">
                    <td th:text="${pesquisa.id}"></td>
                    <td th:text="${pesquisa.nome}"></td>
                    <td th:text="${pesquisa.sexo}"></td>
                    <td th:text="${pesquisa.estadoCivil}"></td>
                    <td th:text="${pesquisa.generoFilmes}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/pesquisas/form-pesquisa} + '?id=' + ${pesquisa.id}">editar</a>
                        <a class="btn btn-danger" th:href="@{/pesquisas/remover} + '?id=' + ${pesquisa.id}">excluir</a>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</body>

</html>